:root {
  /* Foreground */
  --color-fg-default: #adbac7;
  --color-accent-fg: #539bf5;
  --color-fg-on-emphasis: #cdd9e5;

  /* Background */
  --color-canvas-default: #22272e;
  --color-canvas-inset: #1c2128;
  --color-canvas-subtle: #2d333b;
  --color-btn-primary-hover-bg: #46954a;
  --color-btn-primary-hover-border: rgba(205, 217, 229, 0.1);
  --color-success-emphasis: #347d39;

  /* Borders */
  --color-border-default: #444c56;
  --color-border-muted: #373e47;

  /* Shadows */
  --color-shadow-primer: 0 0 transparent;
  --color-shadow-focus: 0 0 0 3px #adbac7;
}
